* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

canvas {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

.container {
    display: flex;
}

.menu {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: black 1px dotted;
    width: 100%;
}

.menu > div {
    display: flex;
    padding: 11px;
}

.btn {
    background-color: yellow;
}